

<footer class="footer">
  <small>
    <strong>Bug Tracking System </strong>
    using <em>Ruby on Rails &copy;2021</em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", root_path %></li>
      
    </ul>
  </nav>
</footer>